.bg {
    color: #2e3440;
    background-color: #d8dee9;
}

.chroma {
    color: #2e3440;
    background-color: #d8dee9;
}

.chroma .err {
    color: #993444
}

.chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit
}

.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma .hl {
    background-color: #b2b5ba
}

.chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #3b4252
}

.chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #3b4252
}

.chroma .line {
    display: flex;
}

.chroma .k {
    color: #466480;
    font-weight: bold
}

.chroma .kc {
    color: #466480;
    font-weight: bold
}

.chroma .kd {
    color: #466480;
    font-weight: bold
}

.chroma .kn {
    color: #466480;
    font-weight: bold
}

.chroma .kp {
    color: #466480
}

.chroma .kr {
    color: #466480;
    font-weight: bold
}

.chroma .kt {
    color: #466480
}

.chroma .na {
    color: #5a7d7a
}

.chroma .nb {
    color: #466480
}

.chroma .nc {
    color: #5a7d7a
}

.chroma .no {
    color: #5a7d7a
}

.chroma .nd {
    color: #955a3e
}

.chroma .ni {
    color: #955a3e
}

.chroma .ne {
    color: #993444
}

.chroma .nf {
    color: #5a8090
}

.chroma .nl {
    color: #5a7d7a
}

.chroma .nn {
    color: #5a7d7a
}

.chroma .nt {
    color: #466480
}

.chroma .s {
    color: #73935c
}

.chroma .sa {
    color: #73935c
}

.chroma .sb {
    color: #73935c
}

.chroma .sc {
    color: #73935c
}

.chroma .dl {
    color: #73935c
}

.chroma .sd {
    color: #324257
}

.chroma .s2 {
    color: #73935c
}

.chroma .se {
    color: #b98c4b
}

.chroma .sh {
    color: #73935c
}

.chroma .si {
    color: #73935c
}

.chroma .sx {
    color: #73935c
}

.chroma .sr {
    color: #b98c4b
}

.chroma .s1 {
    color: #73935c
}

.chroma .ss {
    color: #73935c
}

.chroma .m {
    color: #874d8e
}

.chroma .mb {
    color: #874d8e
}

.chroma .mf {
    color: #874d8e
}

.chroma .mh {
    color: #874d8e
}

.chroma .mi {
    color: #874d8e
}

.chroma .il {
    color: #874d8e
}

.chroma .mo {
    color: #874d8e
}

.chroma .o {
    color: #466480
}

.chroma .ow {
    color: #466480;
    font-weight: bold
}

.chroma .p {
    color: #2e3440
}

.chroma .c {
    color: #324257;
    font-style: italic
}

.chroma .ch {
    color: #324257;
    font-style: italic
}

.chroma .cm {
    color: #324257;
    font-style: italic
}

.chroma .c1 {
    color: #324257;
    font-style: italic
}

.chroma .cs {
    color: #324257;
    font-style: italic
}

.chroma .cp {
    color: #3b4252;
    font-style: italic
}

.chroma .cpf {
    color: #3b4252;
    font-style: italic
}

.chroma .gd {
    color: #993444
}

.chroma .ge {
    font-style: italic
}

.chroma .gr {
    color: #993444
}

.chroma .gh {
    color: #5a8090;
    font-weight: bold
}

.chroma .gi {
    color: #73935c
}

.chroma .gp {
    color: #434c5e;
    font-weight: bold
}

.chroma .gs {
    font-weight: bold
}

.chroma .gu {
    color: #5a8090;
    font-weight: bold
}

.chroma .gt {
    color: #993444
}
