// Add your own CSS here!

:root {
  color-scheme: light;
  --light: #faf8f8;
  --dark: #3c3c3c; // headings on light mode
  --secondary: #558e93;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #000000;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  color-scheme: dark;
  --light: #111111 !important; // dark mode background
  --dark: #9b9b9b !important; // headings on dark mode
  --secondary: #6e8f92 !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #ffffff !important;
  --gray: #d4d4d4 !important;
  --lightgray: #202020 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}


#banner {
  margin: 3em auto;
  filter: invert(10%);
  opacity: 0.85;
  max-height: 350px;
  width: 100%;
  @media screen and (max-width: 1200px) {
    max-height:300px;
  }

  [saved-theme="dark"] & {
    filter: invert(85%);
  }
}

#index {
  & > .bio {
    display: flex;
    gap: 1.5em;
    z-index: 1;
    position: relative;

    @media screen and (max-width: 1440px) {
      flex-direction: column-reverse !important;
      gap: 4em;
    }

    & > .writing-sidebar {
      flex: 0 0 30%;

      & > div {
        margin-bottom: 3em;
      }

      & ul {
        list-style: none;
        padding: 0;
        margin-left: 0;
        z-index: 0;
      }

      & > div > a {
        opacity: 0.6;
      }

      & h2 {
        font-size: 1.5rem;
        margin: 0.75em 0;
      }
      
      & .section {
        margin-bottom: 1.0em;
      }

      & h3 {
        margin: 0;
      }

      & .meta {
        margin: 0.2em 0;
        color: var(--dark);      
      }

      & .tags > li > a {
        font-size: 0.9em;
        font-weight: 600;
      }
    }
  }
}


// #region base.scss overrides 

h1, h2, h3, h4, h5, h6, thead {
  margin: 2.4rem 0 0;

  &:hover {
    color: var(--secondary);
    opacity: 0.8;
    transition: 0.3s ease;
  }
}


.section-li {
  & > .desc {
    text-overflow: ellipsis;
  }

  & > .tags {
    text-align: right;
  }
}

.singlePage {
  padding: 2em 28vw;
  margin: 0 auto;
  max-width: 1000px;
  @media all and (max-width: 1200px) {
    padding: 25px 7vw;
  }
}

// #endregion Changes to base.scss

// center images in articles
article > p > img {
  display: block;
  margin: 2em auto;
}

article > p > img.inline-icon{
  display: inline;
  margin: 0;
  padding: 0;
  width: 1.4em;
  height: 1.4em;
  vertical-align: text-bottom;
}

