// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #3c3c3c; // headings on light mode
  --secondary: #558e93;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #111111 !important; // dark mode background
  --dark: #9b9b9b !important; // headings on dark mode
  --secondary: #558e93 !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #ffffff !important;
  --gray: #d4d4d4 !important;
  --lightgray: #232323 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}



